<% if (theme.visit_counter) { %>
<span id="busuanzi_container_site_pv" style='display:none'>
    <%- theme.visit_counter.site_pv %>&nbsp;<span id="busuanzi_value_site_pv"></span>
    &nbsp;times
</span>
<% } %>
