<% if(page.reward){ %>
    <div class="page-reward">
        <nav class="myreward">
            <a id="rewardBtn" href="javascript:;"><span>赞&nbsp;赏</span><span>赞赏是某种认同或肯定</span></a>
        </nav>
    </div>
<% } %>
