<% if(page.reward){ %>
<div id="reward" class="page-modal reward-lay">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <h3 class="reward-title">
        <i class="icon icon-quote-left"></i>
        <span><%=theme.reward.title %></span>
        <i class="icon icon-quote-right"></i>
    </h3>
    <div class="reward-content">
        <%
            var wechat = theme.reward.wechat;
            var alipay = theme.reward.alipay;
            var img = theme.reward.wechatalipay;
        %>
        <div class="reward-code">
            <img id="rewardCode" data-img="<%- url_for(img) %>" alt="打赏二维码">
        </div>
        <% if(!!wechat && !!alipay) { %>
        <label class="reward-toggle">
            <input id="rewardToggle" type="checkbox" class="reward-toggle-check"
                data-wechat="<%- url_for(wechat) %>" data-alipay="<%- url_for(alipay) %>">
            <div class="reward-toggle-ctrol">
                <span class="reward-toggle-item wechatPay">&nbsp;&nbsp;微信&nbsp;&nbsp;</span>
                <span class="reward-toggle-item alipayPay">支付宝</span>
            </div>
        </label>
        <% } %>
        <i class="icon icon-caret-up"></i>
    </div>
</div>
<% } %>
