<% if(theme.toc){ 
    var topic = toc(post.content, {
            class: 'post-toc',
            list_number: theme.toc.list_number
        })
    if(topic) {
    %>
    <script>
        <% if(theme.hideMenu){ %>
            menu.classList.remove('hide');
            menu.classList.add('hastochide');
        <% } else { %>
            menu.classList.add('hastocshow');
        <% } %>
    </script>
    <aside class="post-widget">
        <nav class="post-toc-wrap" id="post-toc">
            <h4>TOC</h4>
            <%- toc(post.content, {
                class: 'post-toc',
                list_number: theme.toc.list_number
            }) %>
        </nav>
    </aside>
    <% }
} %>