<a class="MyTagLink" href="<%=link %>" itemprop="url">
    <div class="card-card">
        <div class="card-container">
            <span href="<%=link %>" class="card-link"><%-name %></span>
            <span class="card-count">
                (<%-count %>)
            </span>
        </div>
    </div>
</a>