<%- partial('_partial/header', {
    title: config.title,
    hdClass: 'index-header'
}) %>
<div class="container body-wrap">

    <ul class="post-list">
    <% page.posts.each(function(post){ %>
    	<div onclick="location.href='<%- url_for(post.path) %>'" class="MyPostDiv">
        	<li class="post-list-item fade">
	            <%- partial('_partial/index-item', {
	                post: post,
	                index: true
	            }) %>
        	</li>
       </div>
    <% }) %>
    </ul>

    <%- partial('_partial/paginator') %>

</div>
