<div class="waterfall-item">
  <article class="archive-article">
  <%
    var format='YYYY-MM-DD';
    if(is_archive()){
      format='MM-DD';
    }
  %>
  <time class="my-post-time">
      <%- post.date.format(format) %>
  </time><br id="break"/>
    <a class="post-title-link my-post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
  </article>
</div>