<footer class="footer">
    <div class="footer-content">
        <p class="power">Hosted by <a href="https://pages.coding.me" target="_blank" rel="external nofollow">Coding Pages</a></p>
        
        <span class="power">
            Power by
            <a href="https://hexo.io/" target="_blank" rel="external nofollow">Hexo</a>&nbsp;·&nbsp;
            Theme
            <a onclick="alert('主题建设中，敬请期待...')" target="_blank" rel="external nofollow">tomotoes</a>
        </span>
    
        <br/>

        <span id="RunTime" style="color:#a7a7a2;"></span>
        <br/>
        
        <span>
            <%- partial('plugins/site-visit') %>
        </span>
        <br/>
        
        <span class="license"><%- __('footer.license') %></span>
    </div>      
</footer>