<footer class="footer">
    
    <div class="footertop">

        <a href="javascript:;">
        &copy; 2017&nbsp;
        <i class="icon icon-lg icon-heart"></i>&nbsp;
        XXXXX.com
        </a>
        <br/> <br/>
        <a href="javascript:;"><%- partial('plugins/site-visit') %></a>
    </div>
    <br/>
</footer>
