<div id="wechat" class="page-modal reward-lay">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <h4 class="reward-title">
        <i class="icon icon-quote-left"></i>
        <span>欢迎关注全栈之路公众号！</span>
        <i class="icon icon-quote-right"></i>
    </h4>
    <img id="wechat_img" data-img="<%- url_for(theme.wechat) %>" alt="欢迎您的关注！">
</div>
