.archive-separator {
    margin: 35px 0 13px;
    font-size: 16px;
    font-weight: bold;
    margin-left:5%;
    &:first-child {
        margin-top: 10px;
    }
}

.article-card {
    padding: 16px 20px 0;
    // .card();
    background: transparent;
    border-bottom: solid 1px #e0e0e0;
    

    .post-content {
        word-break: break-all;

        .highlight,
        > pre {
            margin-left: -20px;
            margin-right: -20px;
            padding: 20px;
        }
    }

    .post-time {
        color:#ccc;
        line-height: 24px;
    }

    .post-footer {
        margin: 0 -20px;
        padding: 12px 20px 8px;
    }
}
@keyframes animation-show {
    0% {
        opacity: 0;
        -webkit-transform: translateY(80px);
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.animation-show {
    animation: animation-show .5s;
    -webkit-animation: animation-show .5s;
    opacity: 1;
}

.archive-article {
    .post-title-link {
        font-size: 18px;
    }
   
}
.waterfall {
    margin-left:5%;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
}
.waterfall-item {
    width:33%;
    line-height: 20px;
    padding: 20px 50px;
}
.my-post-time{
    color: #999;
    text-decoration: none;
    font-size: 0.85em;
    line-height: 1em;
}
.my-post-title{
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
    color: #555;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s;
    line-height: 1.6em;
}
@media screen and (max-width:760px) {
    #break{
        display: none;
    }
    .my-post-time{
        margin:0 10px;
    }
    .my-post-title{
      margin-left:10px;
    }
    .archive-article {
        display: block;
        margin: 0 -16px;
        padding: 16px 16px 8px;
        border-bottom: 1px solid @borderColor;
        .post-footer {
            border-top: none;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .article-card {
        border-radius: 0
    }

    .archive-separator {
        margin-top: 16px;
    }

    .waterfall {
        margin: 0;
        height: auto!important;
        opacity: 1;
        .transform(translateY(0));
    }

    .waterfall-item {
        position: static;
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width:420px) {
    .archive-article {
        padding: 16px 16px 0;
    }
}
