body {
    cursor: url('../img/default.cur'), auto !important;
}
.avatar img,
.search-result,
.nav2,
.archive-article,
.waves-effect,
.reward-toggle,
.brand-wrap,
.post-card-title,
a,
button {
    cursor: url('../img/pointer.cur'), auto !important;
}

.github-emoji{
    cursor: url('../img/default.cur'), auto !important;
}

img{
    cursor:-webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor:zoom-in;
}
body >img{
    cursor:-webkit-zoom-out;
    cursor: -moz-zoom-out;
    cursor:zoom-out;
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
    cursor: url('../img/pointer.cur'), auto !important;
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
    cursor: url('../img/pointer.cur'), auto !important;
}

.motto span {
    cursor: url('../img/pointer.cur'), auto !important;
}
