.footer {
    text-align:center;
    span{
        line-height: 2;
        color: #a7a7a2;
    }
    .coding{
        color:#999;
        margin:3px auto !important;
    }
    canvas{
        z-index:333 !important;
    }
    .footertop {
        font-size: 14px;
        .icon{
            font-size: 14px;
        }

        a {
            text-decoration:none;
            color: #a7a7a2;
            opacity: .85;
        }
    }
    /*句子*/
    .refresh {
        vertical-align: middle;
        width: 16px;
        cursor: pointer;
        transition: all ease 1s;
    }

    .refresh:hover {
        transform: rotateZ(360deg);
    }

    #hitokoto{
        display:inline-block;
        z-index: 999 !important;
        font-size: 15px;
        font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
        text-shadow: rgb(134, 116, 111) 0px 0px 1px, rgb(255, 255, 251) 0px 0px 1px, rgb(255, 255, 251) 0px 0px 2px;
    }
    &.toc{
        margin-right:16%;
    }
}

@media screen and (max-width:760px) {
    .footer{
        &.toc{
            margin-right:0%;
        }
    }
    .footer:not(#hitokoto){
        font-size:11px;
    }
    .coding{
        color:#999;
        font-size:11px;
    }
    .power,.license{
        display: none;
    }
}