.footer {
    text-align:center;
    span{
        line-height: 2;
    }
    canvas{
        z-index:333 !important;
    }
    .footertop {
        text-align:center;
        font-size: 14px;
        .icon{
            font-size: 14px;
        }

        a {
            text-decoration:none;
            color: #a7a7a2;
            opacity: .85;
        }
    }
    /*句子*/
    .refresh {
        vertical-align: middle;
        width: 16px;
        cursor: pointer;
        transition: all ease 1s;
    }

    .refresh:hover {
        transform: rotateZ(360deg);
    }

    #hitokoto{
        color:#a7a7a2;
        display:inline-block;
        z-index: 999 !important;
        font-size: 15px;
        font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
        text-shadow: rgb(134, 116, 111) 0px 0px 1px, rgb(255, 255, 251) 0px 0px 1px, rgb(255, 255, 251) 0px 0px 2px;
    }
    #power{
        color: #a7a7a2;
    }

}

@media screen and (max-width:760px) {
    #hitokoto{
        font-size: 11px;
    }
    #power{
        font-size: 11px;
    }
}