#menu-off {
    position: absolute;
    top: 0;
    left: 100%;
    .transition(.4s);
}

#menu {
    background:#f6f6f6;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 66;
    width: 210px;
    min-height: 100%;
    box-shadow: @boxShadow;
    .transition(.4s, cubic-bezier(.18, .81, .3, .89));

    &.hide {
        .transform(translateX(-100%));
        #menu-off {
            .transform(scale(0));
        }
        +#main {
            padding-left: 0;
            .header-title{
                    margin-right:-4%;
            }
        }
    }
    &.hastochide {
        .transform(translateX(-100%));
        #menu-off {
            .transform(scale(0));
        }
        +#main {
            .container{
                .transition(.4s, cubic-bezier(.18, .81, .3, .89));
                width:101%;
            }
        }
    }

    .inner {
        position: relative;
        height: 100%;
    }

    .brand-wrap {
        background-size: 100% 100%;
    }

    .brand {
        padding: 20px @menuPadding 2em;
    }
    .brand>a>img:hover{
        transform: scale(1.8);
        transition:all 0.1s;
    }

    .avatar {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        transition: 500ms;
        -o-transition: 500ms;
        -moz-transition: 500ms;
        -webkit-transition: 500ms;
        
        box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
        &:hover{
            transform: none;
            -o-transform: none;
            -ms-transform: none;
            -moz-transform: none;
            -webkit-transform: none;
        
            box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.5);
        }

    }

    .introduce {
        margin: 1em 0 0;
        color: @textPrimaryColor;
        .nickname{
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    }

    .scroll-wrap {
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;
    }


    .nav {
        margin: 0;
        padding: 0;
        height: 300px;
        min-height: ~"calc(100% - 115px)";
        list-style: none;
        line-height: @navH;

        li {

            padding: 0 @menuPadding;

            .icon {
                position: absolute;
                top: 0;
                left: @menuPadding;
                line-height: inherit;
            }
        }
        a {
            display: block;
            padding-left: @menuPadding*2.4;
            height: @navH;
            line-height: @navH;
            font-weight: 500;
            color: @secondaryTextColor;
            text-decoration: none;
        }
    }

    .nav2 {
        padding: 0;
        li {

            margin:0;
            float: left;
            display: block;
            .icon {
                position: absolute;
                color: #6d819c;
            }
            a{
                padding: 10px;
            }
        }
    }
}

#otext2{
    margin-top:24.2px;
    font-family: Georgia, "Times New Roman";
}
/*文字音效*/
#otext2 .eBox span{
    color: #F0E5DE !important;
    font-size: 12px;
    letter-spacing:2px;
    font-weight: bold;
}

/*文字跳动*/
.bumpy-char {
    position: relative;
}

#nav2icons li:hover{
    .icon{
        color:black;
        transform:scale(1.3);
        transition:all 0.1s;
    }

}

.scroll-wrap canvas{
    width:100% !important;
    height:100% !important;
}

#menuitems li a {
	overflow: hidden;
	padding: 0 4px;
	height: 1em;
}

#menuitems li a span {
    font-weight: 700;
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

#menuitems li a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#menuitems li a:hover span,
#menuitems li a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}


#menuitems li:hover
{
    a,
    .icon {
         color: #000;
    }
    b:after{
        content:"♥";
        color:red;
    }
}

#menuitems li.active{
    & b:after{
        content:"♥";
    }
}

#followme{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding-top: 4px;
    color: gray;
    letter-spacing:1.5px;
    margin-left:8%;
    margin-bottom:3%;
    
    &:hover{
        animation:0.8s followme infinite;
        &::after{
            content:"!";
        }
    }
}

@keyframes followme {
    75% {
        color:#3f4040;
        transform:scale(1.5) translate(10px) skew(0deg,-10deg);
        text-shadow:2px 2px 2px gray;
    }
}

@-webkit-keyframes followme {
    75% {
        color:#3f4040;
        transform:scale(1.5) translate(10px) skew(0deg,-10deg);
        text-shadow:2px 2px 2px gray;
    }
}

/*狮子*/
#world canvas{
    width: 100% !important;
    height: 100% !important;
    z-index:9999 !important;
    
    animation:2s shizi ease-in infinite  alternate;
    animation-play-state: paused;
    &:hover{
        animation-play-state: running;
    }
}
@keyframes shizi {
    100% {
        transform: scale(2);
        -ms-transform:scale(2); 	/* IE 9 */
        -moz-transform:scale(2); 	/* Firefox */
        -webkit-transform:scale(2); /* Safari 和 Chrome */
        -o-transform:scale(2); 
    }

}
@-webkit-keyframes shizi {
    100% {
        transform:scale(2);
        -ms-transform:scale(2);/* IE 9 */
        -moz-transform:scale(2); 	/* Firefox */
        -webkit-transform:scale(2); /* Safari 和 Chrome */
        -o-transform:scale(2); 
    }
}

@media screen and (max-width:1240px) {
    #menu-off {
        display: none;
    }

    #menu {
        z-index: 99;
        box-shadow: none;
        .transform(translateX(-100%));

        &.show {
            .transform(translateX(0));
        }
    }
}

@media screen and (max-width:760px) {
    #menu {
        .brand {
            padding-top: 20px;
            padding-bottom: 1em;
        }
        .nav {
            line-height: @mNavH;

            a {
                height: @mNavH;
                line-height: @mNavH;
            }
        }
    }
}