
#menu-off {
    position: absolute;
    top: 0;
    left: 100%;
    .transition(.4s);
}
#menu {
    padding: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 666;
    width: 210px;
    min-height: 100%;
    box-shadow: @boxShadow;
    .transition(.4s, cubic-bezier(.18, .81, .3, .89));
    &.hide {
        .transform(translateX(-100%));
        #menu-off {
            .transform(scale(0));
        }
        +#main {
            padding-left: 0;
            .header-title {
                /*菜单关闭时 标题关闭会停留*/
                .transition(.4s, cubic-bezier(.18, .81, .3, .89));
                margin-right: -3%;
            }
            #menu-toggle {
                opacity: 1;
                transition: all 1s;
            }
        }
    }
    &.hastochide {
        .transform(translateX(-100%));
        #menu-off {
            .transform(scale(0));
        }
        +#main {
            .container {
                .transition(.4s, cubic-bezier(.18, .81, .3, .89));
                width: 101%;
            }
            #menu-toggle {
                opacity: 1;
                transition: all 1s;
            }
        }
    }
    .inner {
        position: relative;
        height: 100%;
    }
    .brand-wrap {
        top: 0%;
        background-size: 100% 100%;
        background-image: @bg-brand;
    }
    .brand {
        // position: absolute;
        text-align: center; // padding: 20px @menuPadding 2em;
        margin-top: 25%;
        margin-bottom: 20px;
    }
    .avatar img:hover {
        transform: scale(1.8);
        transition: all 0.1s;
    }
    .avatar {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        transition: 500ms;
        -o-transition: 500ms;
        -moz-transition: 500ms;
        -webkit-transition: 500ms;
        box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px #f6f6f6;
        -moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px #f6f6f6;
        &:hover {
            transform: none;
            -o-transform: none;
            -ms-transform: none;
            -moz-transform: none;
            -webkit-transform: none;
            box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px #f6f6f6;
            -moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px #f6f6f6;
        }
    }
    .introduce {
        margin: 1em 0 0; // color: @textPrimaryColor;
        .nickname {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    }
    .scroll-wrap {
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .nav {
        border-top: 1px solid #e0e0e0;
        margin: 0;
        padding: 0;
        height: 300px;
        min-height: ~"calc(100% - 115px)";
        list-style: none;
        line-height: @navH;
        li {
            padding: 0 @menuPadding;
            .icon {
                position: absolute;
                top: 0;
                left: 45px;
                line-height: inherit;
            }
        }
        a {
            display: block;
            padding-left: 80px;
            height: @navH;
            line-height: @navH;
            font-weight: 500;
            color: @secondaryTextColor;
            text-decoration: none;
        }
    }
    .nav2 {
        
        border-top: 1px solid #e0e0e0;
        padding: 0;
        li {
            top: 8px;
            margin: 0;
            float: left;
            display: block;
            .icon {
                left: 30px;
                // position: absolute;
                color: #6d819c;
            }
            a {
                padding: 10px;
            }
        }
    }
}
#motto {
    display: inline-block;
    margin-top: 24.2px;
    white-space: nowrap;
}
/*文字音效*/
#motto .eBox span {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; // color: #F0E5DE !important;
    color: #999;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
}
.bumpy-char {
    position: relative;
}
#nav2icons li:hover {
    .icon {
        color: #000;
        transform: scale(1.3);
        transition: all 0.1s;
    }
}
#menuitems li a {
    overflow: hidden;
    padding: 0 4px;
    height: 1em;
}
#menuitems li a span {
    font-weight: 700;
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
#menuitems li:hover {
    box-shadow: 0 0 5px 1px #ccc;
    // box-shadow: 0 5px 30px rgba(109, 108, 108, 0.3);
    background: #ccc;
    a,
    .icon {
        color: #000;
        span{
            transform: scale(1.4);
        }
    }
}

#menu-toggle {
    opacity: 0;
}
@keyframes odsoky {
    0% {
        transform: translateY(6px);
    }
    100% {
        transform: translateY(1px);
    }
}
.bottom:hover {
    transform: translateY(6px);
}
.bottom .tooltip {
    top: 115%;
    left: -20%;
}
.bottom .tooltip::after {
    top: -17%;
    left: 40%;
    transform: rotate(180deg);
}
@media screen and (max-width:1240px) {
    #menu-off {
        display: none;
    }
    #menu-toggle {
        opacity: 1 !important;
    }
    #menu {
        z-index: 9999;
        box-shadow: none;
        background: #FEFEFE;
        .transform(translateX(-100%));
        &.show {
            .transform(translateX(0));
        }
        .brand {
            margin-top: 5%;
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width:760px) {
    #menu {
        .brand {
            padding-top: 20px;
            padding-bottom: 0;
        }
        .nav {
            line-height: 40px;
            a {
                height: 40px;
                line-height: 40px;
            }
        }
    }
}